<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx" 
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.0.xsd
	http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
	http://www.springframework.org/schema/tx  http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
	http://www.springframework.org/schema/aop  http://www.springframework.org/schema/aop/spring-aop-4.0.xsd 
	http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.0.xsd">
	
	<context:component-scan base-package="com.hl.mybatis"></context:component-scan>
	<mvc:annotation-driven></mvc:annotation-driven>
	<tx:annotation-driven></tx:annotation-driven>
	<task:annotation-driven></task:annotation-driven>
	
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/ui/jsp/" />
		<property name="suffix" value = ".jsp" />
		<property name="order" value = "2" />
	</bean>
	
	<bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource"
        destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://10.19.105.122:3306/demo2?characterEncoding=utf8&amp;zeroDateTimeBehavior=convertToNull" />
        <property name="username" value="ggs" /> 
        <property name="password" value="HXR0D9RFBnH74L3d"/> 
    </bean>
    
    <!-- jdbcTemplate -->
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate"> 
    	<property name="dataSource" ref="dataSource"/>
    </bean>
	
	<!-- configure sqlsessionfactory -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<!-- the first way to reference mapper.xml  -->
		<!-- <property name="mapperLocations" value="classpath:com/hl/mybatis/mapper/*.xml"></property> -->
		<property name="configLocation" value="classpath:mybatis_config.xml"></property>
	</bean>
	
	<!-- configure mybatis annotation -->
	<bean id="mapperScannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.hl.mybatis.dao"></property>
	</bean>
	
</beans>